/* * {
    background-color: #50223C;
    color: palegoldenrod;
}
*/

* {
    background-color:#696969;
    color: whitesmoke;
}

div p{
    background-color: black;
}

body{
    margin: 50px;
}

h3 img{
    float: right;
    padding-right: 10%;
}

p{
    padding: 10px;
    font-size: 18;
}

h2, h3, h4{
    font-family: 'Arial Narrow Bold', sans-serif ;
    font-size: 30px;
}

li {
    list-style: none;
    display: inline;
    margin: 2em;
    font-size: 20px;
}

ul{
    border: 6px solid black;
    padding: 10px;
}

ul a{
    color:#ffe1f2;
}

table{
    border: 2px solid black;
}
th, td{
    padding: 5px;
    border: solid black 2px;
}


table div {
    padding-right: auto;
    padding-left: auto;

}

header h1 div{
    color: white;
    margin-top: -75px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;

}
header img{
    padding-left: 90%;
    background: black;
    border: solid black;
}
fieldset{
    margin-bottom: 40px;
    
}
label {
    width: 240px;
    display: inline-block;
}
.a{
    width: 200px;
    display: inline-block;
    background-color: white;
    color:black;
}
#specialCase{
    font-size: 18px;
    margin-left: -10px;
        
}
::placeholder{
    color: rgb(168, 153, 153);
}
.b{
    width: 400px;
    background-color: white;
    color: black;
}
.red_star{
    color:rgb(151, 23, 23);
}
figure img{
    float: right;
    position: relative;
    left: 150px;
}
figure figcaption{
    float: right;
    position: relative;
    top: 250px;
    right: 300px;
  
}


